/* using mobile first design */
:root {
    --mobile: 375px;
    --tablet: 768px;
    --desktop: 1024px;

    --white: #FFF;
    --black: #000;
    --font-black: #212529;
    --gray: #CCC;
    --yellow: #DAFF01;
    --purple: #9353FF;
    --pink: #EE6471;
    --orange: #F87F46;
}

body {
    font-size: 16px;
    font-weight: 400;
    color: var(--font-black);
    margin: 0 auto;
}

a, a:hover {
    text-decoration: none;
}

button, input {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
}

/* 
    Sadly, var() doesn't work with media queries 
    See: https://bholmes.dev/blog/alternative-to-css-variable-media-queries/
*/
@media screen and (min-width: 1024px){
    a:hover {
        text-decoration: underline;
    }
}