.navigation {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #343A40;
    padding: 42px 24px 7px;
    transition: 0.2s ease-in;
}

.navigation--visible {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.navigation--hidden {
    visibility: hidden;
    opacity: 0;
}

.navigation__item {
    border-bottom: 1px solid var(--white);
    padding: 8px 0;
    width: 100%;
}

.navigation__item:last-child {
    border: none;
}

@media screen and (min-width: 768px) {
    .navigation {
        position: relative;
        background-color: inherit;
        padding: 0;
        margin-left: 20px;
    }

    .navigation ul {
        display: flex;
        column-gap: 20px;
    }

    .navigation__item {
        font-size: 13px;
        padding: 0;
        border: none;
        width: auto;
    }
}

@media screen and (min-width: 1024px) {
    .navigation {
        margin-left: 40px;
    }

    .navigation ul {
        column-gap: 40px;
    }

    .navigation__item {
        font-size: 16px;
    }
}