/* Menu animation */
/* .checkbox {
    display: none;
} */

.icon {
    width: 18px;
    height: 18px;
    position: relative;
    z-index: 2;
    background: none;
    border: none;
    cursor: pointer;
}

.icon__trace {
    width: 100%;
    height: 2px;
    background-color: var(--yellow);
    position: absolute;
    left: 0;
    transition: .2s ease-in;
}

.icon__trace:nth-child(1) {
    top: 0;
}

.icon__trace:nth-child(2) {
    top: 7px;
}

.icon__trace:nth-child(3) {
    top: 14px;
}

/* animate menu icon */
.icon--open .icon__trace:nth-child(1) {
    transform: rotate(-45deg);
    top: 7px;
}

.icon--open .icon__trace:nth-child(2) {
    transform: translateX(50px);
    opacity: 0;
}

.icon--open .icon__trace:nth-child(3) {
    transform: rotate(45deg);
    top: 7px;
}